*{
  margin : 0;
  padding: 0 ;
}

body {
  font-family: 'Merriweather',serif ;
  background-color: #ebf2ff ;
}

.navbar {
  height: 80px;
display: flex;
align-items: center;
justify-content:space-around;
background-color: #fff ;
}

.navbar__brand {
  width : 100px ;
}

.navbar__logo {
  width: 100% ;
}

.button__primary:hover {
  border: 2px solid #FF6767 ;
  cursor: pointer;
}
.container{
  max-width: 100% ;
  padding:  20px ;
  margin: 0 auto ;
}

.hero__image__container {
display: flex;
  width: 100% ;
  position: relative;
}




.hero__image{
  width: 100% ;
  border-radius: 8px;
  box-shadow: 0 25px 50px 50px -12px rgb(0 0 0 / 25%);
  z-index: 4
}
.firt__back__logo {
  width: 100% ;
 position: absolute;
 z-index:3
}
.second__back__logo {
    width: 100% ;
position: absolute;
z-index: 3 ;
}
.button__primary {
  background-image: linear-gradient(
    to right,
    #ff512f 0% ,
    #dd2476 51%,
    #ff512f 100%
    );
    color: #fff ;
    border: none ;
    padding: 12px ;
    border-radius: 6px ;
    font-weight: 600;
}

.hero__text {
  font-size: 30px;
  padding: 20px 0 ;
  color: #1D3557 ;
  font-weight: 800 ;
  margin-top: 50px ;
}

.food__card__description {
  padding: 15px ;
}

.food__card {
  background-color: #F6F6F6;
}

.food__card__image__container {
    width: 100% ;
}

.food__image {
  border-radius: 8px 8px 0 0 ;
  width: 100% ;
}

.explore__menu__text {
   margin-top: 5px ;
   margin-bottom: 20px;
   text-align: center;
   color: #1D3557 ;
   font-size: 30px ;
   font-weight: 800 ;

}

.rest__text{
margin: 40px 0 ;
color: #1D3557 ;
font-weight: 800;
}


.first__row {
  width: 100% ;
  display: flex;
  gap: 10px ;
  align-items: baseline;
}
.img1 {
  height : 80px ;
  width: 150px ;
}
.img2 {
  width: 200px ;
  height : 100px ;
}
.second__row {
  width: 100% ;
  display: flex;
  gap : 10px ;
  margin-top: 10px;
}
.img3 {
  width: 200px ;
  height : 100px ;
}
.img4 {
  height : 80px ;
  width: 150px ;
}
.notification {
  width: 100% ;

}
.email__address {
  width: 50% ;

}
.mailbox {
height: 30px ;
width: 200px ;
padding: 2px ;
border-color: #CF0000 ;
background-color: #FCEDF0 ;
border-radius: 6px ;
color: black ;
font-weight: 600 ;
}
.click__button{
  width: 50% ;
}
.updated {
  margin-left: 60px ;
  padding: 5px 20px ;
  background-image: linear-gradient(to right,#ff512f 0% ,#dd2476 51%,#ff512f 100%);
  border: none ;
  font-weight: 600 ;
  color: white ;
  height: 60px ;
  border-radius: 8px ;
}

.updated:hover {
  border: 4px solid black ;
  cursor: pointer;
}
.notification__text{
  margin-top:60px ;
  margin-bottom: 20px;
  font-weight: 800 ;
  color: #1D3557 ;
}
.your__info {
  display: flex ;
  align-items: center;
}



.query__list {
  list-style-type: none ;
}
.main_text_tag {
  padding: 30px 0 ;
  font-size: 50px ;
  font-weight: 1200 ;
  color: white ;
}
.slogan {
  width: 340px ;
  height: 230px ;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80);
  background-size: 100% ;
  background-repeat: no-repeat;
  border-radius: 10px ;
  box-sizing: border-box;

}

.slogan__text {
  color: white ;
  padding-top: 80px ;
  padding-left: 10px  ;
  text-align: center;

}

footer {
  background-color: black ;
 width: 100% ;
}
.footer__logo {
  padding-left: 30px ;
}
.query__list {
  padding-left:  110px ;
  padding-bottom: 20px ;
  font-size: 20px ;
  color: white ;
}

@media (min-width: 768px) {
  .navbar{
    height: 50px ;
  }
  .explore__menu__lists {
    display: flex;
    gap : 15px ;
    margin-top: 50px ;
    padding: 0 30px ;
  }

.explore__menu__container {
  position: relative;
}
.explore__menu__gradient__bg {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: linear-gradient(
  to right,
  #ff512f 0%,
   #dd2476 51%,
   #ff512f 100%
  );
z-index: -3;
transform: skewY(-7deg);
}
#pizza__card {
  margin-top: -20px ;
}
 .navbar{
   justify-content: space-between;
   padding: 10px 30px ;
 }

 .hero__container {
   margin: 20px ;
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
 }
.restaurants__information {
  display: flex;
  margin-top:  80px ;
  align-items: center;
  gap : 30px ;
  font-weight: 600 ;
}
.rest__text {
  font-size: 30px ;
}
.your__info {
  padding-left: 45px ;
}
.click__button {
  padding-left: 20px ;
}
.notification__text {
  margin-left: 150px ;
  font-size: 30px ;
  font-weight: 800 ;
}
 .mailbox {
   width: 300px ;
padding: 5px ;
   margin-left: 30%;
 }
 .updated {
     height: 40px ;
     margin-left: 20%;
     border-radius: 8px ;
 }
 .slogan {
   width: 738px;
   height: 300px ;
  padding-top: 50px ;
border-radius: 12px ;
 }
 .slogan__text {
   font-size: 30px;
   font-weight: 600 ;
   text-align: center;
 }

 footer {
   display: flex;
 }
.list__of__options {
  margin-top: 50px ;
}
}
@media (min-width: 1024px) {

  .explore__menu__lists {

    gap : 25px ;

  }

  .container {
    max-width: 70% ;
  }
   .navbar__brand {
     width: 150px ;
   }
   .button__primary{
     padding: 20px ;
     font-size: 20px;
   }
   .hero__description {
 width: 100% ;
}
.hero__text {
  font-size: 45px ;

}
.hero__image {
  margin-left: 20px;
}

.explore__menu__text {
  margin-top: 50px ;
  font-size: 48px ;
}

.restaurants__information {
width:  100% ;
}
.text_information {
  width: 50% ;
}
.rest__text {
  font-size: 40px ;
  font-weight: 1000 ;
}
.rest__images {
  width: 50% ;
  margin-left: 100px ;
}
.img1 {
  height : 160px ;
  width: 240px ;
}
.img2 {
  width: 300px ;
  height : 220px ;
}
.img3 {
  width: 300px ;
  height : 220px ;
}
.img4 {
  height : 160px ;
  width: 240px ;
}

.mailbox {
  width: 325px ;
padding: 5px ;
  margin-left: 40%;
  height : 25px ;
}
.updated {
    border-radius: 8px ;
    height: 60px ;
    margin-left: 5%;
    width: 160px ;
}
.notification__text {
  margin-left: 240px ;
  font-size: 45px ;
}
.slogan {
  width: 100% ;
}

footer {
  justify-content: center;
}

}
